.busz{
    background-image: url(Buszall20230415.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    image-resolution: 1080px;
}
.tanterem{
    background-image: url(tanterem.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    image-resolution: 1080px;
}
.felelet{
    background-image: url(feleles.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    image-resolution: 1080px;
}
div, a{
text-decoration: none;
color: black;
font-weight: bold;
font-size: larger;
}
p{
    text-decoration: none;
color: black;
font-weight: bold;
font-size: larger;
}
.fel{
    color: white;
    text-decoration: none;
}
.sas{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: larger; 
}